.WhiteBlock_container hr{
    height: 3px;
    background-color: black;
    margin: 0% 8%;
}

.titleUnion{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 0% 8%;
}

.whiteTitle{
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 140px;
    margin: 0%;
    padding: 0%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
}

.whiteTitleEnd{
    font-family: 'Orbitron';
    font-style: normal;
    font-size: 140px;
    margin: 0%;
    padding: 0%;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800;
}
.whiteTitleImg{
  width: 8%;
  height: 8%;
  margin: 0%;
}

.descriptionTitleWhite{
   text-align: left;

    width: 500px;
    margin-right: 0%;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.flexFix{
    display: flex;
    justify-content: end;  
}

.descriptionTitleWhiteDiv{
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; 
}

#shortLine{
    height: 3px;
    width: 500px;
}

.whiteBlockBackground{
    margin-bottom: 8%;
}