.button {
  padding: 8px, 12px;
  background-color: rgb(161, 218, 249);
  border: 1px solid rgb(83, 83, 248);
  cursor: pointer;
}

.black {
  background-color: #000;
  color: #fff;
  border: 1px solid rgb(250, 128, 146);
}

.white {
  background-color: #fff;
  border: 1px solid rgb(11, 11, 226);
}