.whiteTwoTitle{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    margin: 0%;
    text-align: start;
    margin-left: 8%;
    padding-top: 4%;

}

.whiteTwoTitleOne{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    text-transform: uppercase;
    color: #77D131;
    margin: 0%;
    text-align: start;
    margin-left: 8%;
    padding: 0.8% 0%;
}

.whiteTwoTitleTwo{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    margin: 0%;
    text-align: start;
    margin-left: 8%;
    padding: 0.8% 0%;
}

.whiteTwoTitleSub{
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    margin: 0%;
    text-align: start;
    margin-left: 8%;
    width: 640px;
    padding: 1.8% 0%;
}

.whiteTwoTitlePod1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    color: rgb(22, 22, 22);
    text-align: start;
    margin: 0%;
    margin-left: 8%;
}

.whiteTwoTitlePod2{
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    color: rgba(22, 22, 22, 0.571);
    text-align: start;
    margin: 0%;
    margin-left: 8%;
    padding-bottom: 8%;
}

/* .titleUnionTwo{
    display: flex;

} */

