#containerForms{
    width: 300px;
    background-color: rgba(60, 114, 223, 0.864);
    display: flex;
    justify-content: center;
    padding: 2%;
    border: 0px;
    margin-top: 1%;
    border-radius: 6px;
}

.buttonsSubmit{
    display: flex;
    justify-content: space-between;   
}

#buttonSubmit{
  width: 48%;
  background-color: rgba(255, 0, 0, 0.486);
}

#buttonReset{
    width: 48%;
    background-color: rgba(255, 0, 0, 0.486);
}

.bodyCss{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(https://st-1.akipress.org/st_runews/.storage/limon3/images/FEBRUARY2021/cbd3b33ecacb6b4731a36260e2931f68.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-left: 8%;
    margin-right: 8%;
}

#BackMenuSignIn{
  width: 200px;
  height: 40px;
  background-color: rgba(105, 105, 195, 0.568);
  text-decoration: none;
  color: aliceblue;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-radius: 4px;
  margin-top: 20px;
  font-weight: 900;
} 

#BackMenuSignIn:hover{
  background-color: rgba(158, 7, 7, 0.678);
  color: black;
}

#hrefFromSignUp{
  text-decoration: none;
  color: black;
}