.textAbout{
    padding: 2% 8%;
    font-size: 20px;
    font-weight: 600;

}

span{
    color: rgb(197, 170, 14);
    font-weight: 900;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    font-size: 26px;
    
}

span:hover{
    color: rgb(194, 3, 3);
    font-weight: 900;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    font-size: 26px;
    
}

.aboutImg2{
    padding:2% 8%;
    width: 83%;
}

.aboutImg{
    padding:1% 8%;
    width: 83%;
}